<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href= "style.css" rel='stylesheet' type='text/css'>
    <title>Dave Resume</title>       
</head>
<header> 
    <div class="header">
        <div class="full-name">
            <span class="first-name"> Dave Ian</span>
            <span class="last-name"> Saloria</span>
        </div>
        <div class="contact-info">
            <span class="email"> <a href="mailto:saloriadigs1@gmail.com">saloriad1@gmail.com</a></span>
            <span class="separator"></span> 
            <span class="phone"><a href="tel:+639563987449"> 09563987779 </a></span>
            <span class="separator"></span> 
            <span class="linkedIn"><a href="/dave-ian-saloria-7579b7229/?locale=tl_PH">linkedin.com/in/dave-ian-saloria</a></span>        
        </div>
    </div> 
</header> 
<body>
    <div class="details">
        <div class="section">
            <div class="section-title"> 
                EDUCATION 
            </div>
            <hr>
            <div class="section-list">
                <div class="section-list-item">
                    <div class="left">
                        <div class="name">Carlos Memorial State College</div>
                        <div class="degree"><i>Bachelor of Science in Industrial Technology</i></div>
                        <div class="major">Major in Auto Technology</div>
                    </div>
                    <div class="right">
                        <div class="address">Talisay City, Negros Occidental, Philippines</div>
                        <div class="year"> March 1993 to March 1997</div>
                    </div>
                </div>
            </div>
        </div>

        <div class="section">
            <div class="section-title"> 
                WORK EXPERIENCE 
            </div>
            <hr>
            <div class="section-list">
                <div class="section-list-item">
                    <div class="left">
                        <div class="name">ARB CALL FACILITIES</div>
                        <div class="title"><i>Loan Originator (Loan Application Agent):</i></div>
                    </div>
                    <div class="right">
                        <div class="address">Bacolod City, Negros Occidental, Philippines</div>
                        <div class="year"> November 2020 to Jananuary 2022</div>
                    </div>
                    <div class="text">
                        <ul>
                            <li>Calling outbound customers that are found in the system leads.</li>
                            <li>Verifying the customers information and their loan application.</li>
                            <li>Checking and verifying of their bank accounts (such as payroll deposits and their end of day balances).</li>
                            <li>Discuss the prequalified amount, payment option and finalization of loan agreement.</li>
                        </ul>
    
                    </div>
                </div> 
            </div>
            <div class="section-list">
                <div class="section-list-item">
                    <div class="left">
                        <div class="name">ICMFI BACOLOD</div>
                        <div class="title"><i>Network Leader:</i></div>
                    </div>
                    <div class="right">
                        <div class="address">Bacolod City, Negros Occidental, Philippines</div>
                        <div class="year">  April 2013 to April 2019</div>
                    </div>
                    <div class="text">
                        <ul>
                            <li>Coordinate & facilitate monthly meetings with community leaders  & program recipients all throughout the province of Negros Occidental.</li>
                            <li>Prepares data & narrative reports of the monthly network meetings of the community leaders submitted to the national office.</li>
                            <li>Prepares weekly reporting with different department heads .</li>
                        </ul>
                    </div>
                </div> 
            </div>
            <div class="section-list">
                <div class="section-list-item">
                    <div class="left">
                        <div class="name">PANASIATIC SOLUTIONS, INC</div>
                        <div class="title"><i>Technical Supervisor</i>:</i></div>
                    </div>
                    <div class="right">
                        <div class="address">Bacolod City, Negros Occidental, Philippines</div>
                        <div class="year">  October 2012 to April 2013</div>
                    </div>
                    <div class="text">
                        <ul>
                            <li>Receive in-bound calls from customers who are asking for supervisor on their technical needs.</li>
                            <li>In charge of supervision for area renovation.</li>
                            <li>n charge of making sales quota for the product sold (simple mobile plan) in various countries such as US, Hawaii, Alaska and Puerto Rico.</li>
                            <li>Makes a daily report for technical problems encountered and submit it to the team leader</li>
                        </ul>
                    </div>
                </div> 
            </div>
        </div>
        <div class="section">
            <div class="section-title"> 
                CERTIFICATION
            </div>
            <hr>
            <div class="section-list">
                <div class="section-list-item">
                    <div class="left">
                        <div class="name">TECHNICAL EDUCATION AND SKILLS DEVELOPMENT AUTHORITY (TESDA)</div>
                        <div class="text-cert">
                            <ul>
                                <li> CAD/CAM Operation NC III</li>
                            </ul>
                        </div>
                    </div>
                    <div class="right">
                        <div class="address">Talisay City, Negros Occidental, Philippines</div>
                        <div class="year"> July 2010</div>
                    </div>
                </div> 
            </div>
        </div>
        <div class="section">
            <div class="section-title"> 
               PROFFESIONAL SKILLS 
            </div>
            <hr>
            <div class="skills">
                <div class="skills-item">
                <div class="left">
                    <div class="name">DATA ENTRY</div>
                </div>
                    <div class="right">
                        <input id="ck1" type="checkbox" checked/>
                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>
                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" checked/>
                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" checked/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" />
                        <label for="ck5"></label>
                    </div>
                </div> 

                <div class="skills-item">
                    <div class="left">
                        <div class="name">COMPUTER SKILLS</div>
                    </div>
                    <div class="right">
                            <input id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" checked/>
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" checked/>
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                    </div>
                </div>

                <div class="skills-item">
                    <div class="left">
                        <div class="name">MICROSOFT OFFICE</div>
                    </div>
                    <div class="right">
                            <input id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" checked/>
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" checked/>
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                    </div>
                </div>

                <div class="skills-item">
                    <div class="left">
                        <div class="name">CUSTOMER SUPPORT</div>
                    </div>
                    <div class="right">
                            <input id="ck1" type="checkbox" checked/>
                            <label for="ck1"></label>
                            <input id="ck2" type="checkbox" checked/>
                            <label for="ck2"></label>
                            <input id="ck3" type="checkbox" checked/>
                            <label for="ck3"></label>
                            <input id="ck4" type="checkbox" checked/>
                            <label for="ck4"></label>
                            <input id="ck5" type="checkbox" />
                            <label for="ck5"></label>
                    </div>
                </div>
            </div>
       </div>

       <div class="section">
        <div class="section-title"> 
           PERSONAL SKILLS 
        </div>
        <hr>
        <div class="skills">
            <div class="skills-item">
            <div class="left">
                <div class="name">Teamwork</div>
            </div>
                <div class="right">
                    <input id="ck1" type="checkbox" checked/>
                    <label for="ck1"></label>
                    <input id="ck2" type="checkbox" checked/>
                    <label for="ck2"></label>
                    <input id="ck3" type="checkbox" checked/>
                    <label for="ck3"></label>
                    <input id="ck4" type="checkbox" checked/>
                    <label for="ck4"></label>
                    <input id="ck5" type="checkbox" />
                    <label for="ck5"></label>
                </div>
            </div> 

            <div class="skills-item">
                <div class="left">
                    <div class="name">Motivator</div>
                </div>
                <div class="right">
                        <input id="ck1" type="checkbox" checked/>
                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>
                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" checked/>
                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" checked/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" />
                        <label for="ck5"></label>
                </div>
            </div>

            <div class="skills-item">
                <div class="left">
                    <div class="name">Flexible</div>
                </div>
                <div class="right">
                        <input id="ck1" type="checkbox" checked/>
                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>
                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" checked/>
                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" checked/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" checked/>
                        <label for="ck5"></label>
                </div>
            </div>

            <div class="skills-item">
                <div class="left">
                    <div class="name">Communication</div>
                </div>
                <div class="right">
                        <input id="ck1" type="checkbox" checked/>
                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>
                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" checked/>
                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" checked/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" />
                        <label for="ck5"></label>
                </div>
            </div>

            <div class="skills-item">
                <div class="left">
                    <div class="name">Problem Solving</div>
                </div>
                <div class="right">
                        <input id="ck1" type="checkbox" checked/>
                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>
                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" checked/>
                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" checked/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" />
                        <label for="ck5"></label>
                </div>
            </div>

            <div class="skills-item">
                <div class="left">
                    <div class="name">Interpersonal Skills</div>
                </div>
                <div class="right">
                        <input id="ck1" type="checkbox" checked/>
                        <label for="ck1"></label>
                        <input id="ck2" type="checkbox" checked/>
                        <label for="ck2"></label>
                        <input id="ck3" type="checkbox" checked/>
                        <label for="ck3"></label>
                        <input id="ck4" type="checkbox" checked/>
                        <label for="ck4"></label>
                        <input id="ck5" type="checkbox" checked/>
                        <label for="ck5"></label>
                </div>
            </div>
        </div>
   </div>
    </div>   
</body>
</html>